.container {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 40px;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;

  box-shadow: 0.9px 1px 18.6px rgba(0, 0, 0, 0.014),
    2.4px 2.8px 34px rgba(0, 0, 0, 0.017),
    5.7px 6.6px 53.9px rgba(0, 0, 0, 0.027), 19px 22px 119px rgba(0, 0, 0, 0.06);
}

.header {
  font-family: "Montserrat";
  background-color: #fff;
  margin: 0px;
}

.input-group > label {
  font-family: "Montserrat";
}

.input-container {
  margin-top: 20px;
}

.input-group {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: left;
}

.input-kolom {
  width: 275px;
}

.input-kolom-cek {
  justify-self: left;
}

.btn-submit-container > button {
  margin-top: 40px;
  padding: 12px;
  background-color: #0292a9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 1.3px 1.9px 3px rgba(0, 0, 0, 0.024),
    3.5px 5.3px 8.4px rgba(0, 0, 0, 0.029),
    8.4px 12.7px 20.2px rgba(0, 0, 0, 0.045), 28px 42px 67px rgba(0, 0, 0, 0.1);

  /* -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, scale;
  transition-property: box-shadow, scale; */
}

.button-submit:hover,
.button-submit:focus,
.button-submit:active {
  background-color: rgb(74, 74, 241);

  box-shadow: 1.3px 1.9px 10.5px rgba(0, 0, 0, 0.012),
    3.5px 5.3px 19.2px rgba(0, 0, 0, 0.014),
    8.4px 12.7px 30.3px rgba(0, 0, 0, 0.022), 28px 42px 67px rgba(0, 0, 0, 0.05);

  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  transform: translate(0px, -6px);
}
