.img-karosel {
  width: 100%;
  height: 760px;
  object-fit: cover;
  border-radius: 10px;
}

.karosel {
  border-radius: 10px;
}
.h1-karosel {
  position: absolute;
  font-size: 40px;
  font-family: montserrat;
  font-weight: bold;
  bottom: 10px;
  margin-left: 30px;
}
