.KatalogCardContainer {
  display: flex;
  width: fit-content;
  margin: 0 auto;

  /* align-items: center;
  justify-content: center;
  margin-left: auto; */
}

.cardkatalog {
  padding: 0px;
  margin: 13px;
  margin-top: 25px;
  margin-bottom: 15px;
  max-width: 250px;
  height: 460px;
  background-color: #fff;
  border-radius: 15px;
  align-items: left;
  display: flex;
  flex-direction: column;
  transition: 0.4s;

  box-shadow: 0.9px 1px 18.6px rgba(0, 0, 0, 0.014),
    2.4px 2.8px 34px rgba(0, 0, 0, 0.017),
    5.7px 6.6px 53.9px rgba(0, 0, 0, 0.027), 19px 22px 119px rgba(0, 0, 0, 0.06);
}

.cardkatalog:hover {
  transform: translate(0px, -8px);
}

.cardkatalog > img {
  height: 220px;
  width: 250px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}

.row,
.grid-item {
  display: inline-grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
}
.cards {
  padding: 20px;
}

.card-hargamerah {
  color: red;
}
