.btn-register {
  margin-left: 10px;
  margin-top: 40px;
  padding: 12px;
  background-color: #0292a9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 1.3px 1.9px 3px rgba(0, 0, 0, 0.024),
    3.5px 5.3px 8.4px rgba(0, 0, 0, 0.029),
    8.4px 12.7px 20.2px rgba(0, 0, 0, 0.045), 28px 42px 67px rgba(0, 0, 0, 0.1);

  /* -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, scale;
  transition-property: box-shadow, scale; */
}

.button-register:hover,
.button-register:focus,
.button-register:active {
  background-color: rgb(74, 74, 241);

  box-shadow: 1.3px 1.9px 10.5px rgba(0, 0, 0, 0.012),
    3.5px 5.3px 19.2px rgba(0, 0, 0, 0.014),
    8.4px 12.7px 30.3px rgba(0, 0, 0, 0.022), 28px 42px 67px rgba(0, 0, 0, 0.05);

  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  transform: translate(0px, -6px);
}
