table {
  margin: auto;
  font-family: "Montserrat";
  font-weight: 500;
  border-collapse: collapse;
  min-width: 80%;
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
}

td {
  text-align: left;
  padding: 15px;
}

th {
  text-align: left;
  font-weight: 800;
  padding: 8px;
  background-color: #ffe600;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.body-table {
  margin-bottom: 50px;
}

tr {
  background-color: #fff;
}

th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}
.btn-create {
  margin-right: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0292a9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 1.3px 1.9px 3px rgba(0, 0, 0, 0.024),
    3.5px 5.3px 8.4px rgba(0, 0, 0, 0.029),
    8.4px 12.7px 20.2px rgba(0, 0, 0, 0.045), 28px 42px 67px rgba(0, 0, 0, 0.1);
}

.btn-edit {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #0292a9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 1.3px 1.9px 3px rgba(0, 0, 0, 0.024),
    3.5px 5.3px 8.4px rgba(0, 0, 0, 0.029),
    8.4px 12.7px 20.2px rgba(0, 0, 0, 0.045), 28px 42px 67px rgba(0, 0, 0, 0.1);
}

.btn-edit:hover,
.btn-edi:focus,
.btn-edi:active {
  background-color: rgb(74, 74, 241);

  box-shadow: 1.3px 1.9px 10.5px rgba(0, 0, 0, 0.012),
    3.5px 5.3px 19.2px rgba(0, 0, 0, 0.014),
    8.4px 12.7px 30.3px rgba(0, 0, 0, 0.022), 28px 42px 67px rgba(0, 0, 0, 0.05);

  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  transform: translate(0px, -1px);
}

.btn-delete {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #910000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 1.3px 1.9px 3px rgba(0, 0, 0, 0.024),
    3.5px 5.3px 8.4px rgba(0, 0, 0, 0.029),
    8.4px 12.7px 20.2px rgba(0, 0, 0, 0.045), 28px 42px 67px rgba(0, 0, 0, 0.1);
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active {
  background-color: rgb(255, 0, 0);

  box-shadow: 1.3px 1.9px 10.5px rgba(0, 0, 0, 0.012),
    3.5px 5.3px 19.2px rgba(0, 0, 0, 0.014),
    8.4px 12.7px 30.3px rgba(0, 0, 0, 0.022), 28px 42px 67px rgba(0, 0, 0, 0.05);

  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  transform: translate(0px, -1px);
}

.image-table {
  width: 200px;
  object-fit: cover;
}
