body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1-katalogProduk,
.h1-Produk,
.h1-editproduk {
  font-size: 30px;
  font-family: montserrat;
  font-weight: bold;
  text-align: left;
  margin-left: 20px;
}

.btn-produk {
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #0292a9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 1.3px 1.9px 3px rgba(0, 0, 0, 0.024),
    3.5px 5.3px 8.4px rgba(0, 0, 0, 0.029),
    8.4px 12.7px 20.2px rgba(0, 0, 0, 0.045), 28px 42px 67px rgba(0, 0, 0, 0.1);
}

.ul,
.li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn-box {
  display: flex;
  align-items: center;
}

.btn-seemore {
  margin-right: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0292a9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 1.3px 1.9px 3px rgba(0, 0, 0, 0.024),
    3.5px 5.3px 8.4px rgba(0, 0, 0, 0.029),
    8.4px 12.7px 20.2px rgba(0, 0, 0, 0.045), 28px 42px 67px rgba(0, 0, 0, 0.1);
}

.image-table {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
